body {
    margin:0;
    padding:0;
}

.container {
    padding:0 30vh;
    max-width: 1170px;
    min-width:400px;
}


form {
    width:70%;

    margin:auto;
    
}

form input , #err{
    
    display:block;
    padding:10px;
    font-size:1.32rem;
    width:80%;
    height:3vh;
    margin:auto;
    margin-bottom:1vh;
}
form .submit{
    width:30%;
    height:5vh;

}